.board {
    display: grid;
    /* grid-template-columns: 40px;
    grid-template-rows: 40px; */
}

.square {
    padding: 5px;
    width: 40px;
    height: 40px;
    background: #000000;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    margin-top: -1px;
    margin-left: -1px;
    color: #ffffff;
}

.square:active {
    background: #a28d8d
}